.cart-container {
    width: 100%;
    height: 350px;
    padding: 2rem;
}


.cart-list {
    overflow-x: hidden;
    overflow-y: scroll;
    justify-self: center;
    padding: 0;
    max-height: 69vh;
    min-height:65vh;
    margin-top: 5rem
}


.cart-subTotal {
    font-weight: 900;
}

.cart-checkout {
    border: none;
    background-color: var(--orange);
    color: white;
    border-radius: 0.25rem;
    padding: 0.5rem;
    transition: all 0.25s ease-in-out;
    margin: 0
}

.cart-checkout:hover {
    background-color: var(--red);
}

@media (min-width: 700px){
    .cart-container {
        padding: 0;
    }

    .cart-list{
        height: 300px;
        min-height: 0;
        margin-top:0;
    }

    .cart-subTotal {
        border-bottom: 1px solid;
        padding-bottom: 1rem;
    }
}