.cart-container {
    width: 100%;
    height: 350px;
    padding: 2rem;
}


.cart-list {
    overflow-x: hidden;
    overflow-y: scroll;
    justify-self: center;
    /* margin-right: 3rem; */
    padding: 0;
    height: 100%;
}


.cart-subTotal {
    font-weight: 900;
}

.cart-checkout {
    border: none;
    background-color: var(--orange);
    color: white;
    border-radius: 0.25rem;
    padding: 0.5rem;
    transition: all 0.25s ease-in-out;
}

.cart-checkout:hover {
    background-color: var(--red);
}

@media (min-width: 700px){
    .cart-container {
        padding: 0;
    }

    .cart-list{
        height: 300px;
    }

    .cart-subTotal {
        border-bottom: 1px solid;
        padding-bottom: 1rem;
    }
}