.card-container, .card-incrementor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-container {
    justify-content: flex-start;
    border-bottom: 1px solid gray;
    border-radius: 0.25rem;
    padding-left: 0.5rem;
    width: 100%;
}

.card-info, .item-details{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
}

.card-info {
    padding: 0.5rem;
    width: 9rem;
}

.item-details {
    text-align: left;
}

.card-img{
    width: 10rem;
}

.item-name{
    font-weight: 900;
    margin: 0.5rem 0;
}

.item-ingredients {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.card-incrementor {
    justify-content: space-between;
}

.item-ingredients {
    text-align: left;
}



.incrementor-display {
    margin-right: 1rem;
    background-color: var(--ltGrey);
    width: 1.5rem;
    border-radius: 0.25rem;
}


.incrementor-btn {
    margin-right: 1rem;
    border: none;
    background: transparent;
    font-size: 2rem;
    align-self: center;
}

.incrementor-btn:hover {
    font-weight: bolder;
}

.minus {
    margin-bottom: 4px;
}

.item-price {
    font-weight: 600;
    font-size: 0.9rem
}

@media (min-width: 1140px) {
    .card-container {
        transition: all .3s ease-in-out,background 0s,color 0s,border-color 0s;
        box-shadow: 0 4px 25px 0 whitesmoke;
    }

    .card-container:hover {
        box-shadow: 0 4px 25px 0 var(--ltGrey);
    }
}

