.card-container, .card-incrementor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-container {
    justify-content: flex-start;
    border: 2px solid red;
}

.card-info, .item-details{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
}

.card-info {
    padding: 0.5rem;
    width: 9rem;
}

.item-details {
    text-align: left;
}

.card-img{
    width: 10rem;
}

.item-name{
    font-weight: 900;
    margin: 0.5rem 0;
}

.item-ingredients {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.card-incrementor {
    justify-content: space-between;
}

.item-ingredients {
    text-align: left;
}



.incrementor-display {
    margin-right: 1rem;
    background-color: var(--ltGrey);
    width: 1.5rem;
    border-radius: 0.25rem;
}


.incrementor-btn {
    margin-right: 1rem;
    border: none;
    background: transparent;
    font-size: 2rem;
    align-self: center;
}
.incrementor-btn:hover {
    font-weight: bolder

}

.item-price {
    font-weight: 600;
    font-size: 0.9rem
}

