.accordionList-expanded {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding-left: 0;
}

.accordion-hide {
    display:none;
}

/* place a breakpoint for .accordion-hide to make sure it doesn't disappear in the md screen view */

.accordion-show {
    display: block;
    width: 100%;
}