.accordionList-expanded {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding-left: 0;
}

.accordion-hide {
    display:none;
}

.accordion-show {
    display: block;
    width: 100%;
}