.App {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  
}

.App-header{
  position: sticky top;
  z-index: 1;
}

.App-Cart{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  color: var(--black);
  position: absolute;
  margin-top: 6.8rem;
  height: 100%;
  padding-right: 1.7rem;
}

@media (min-width: 700px){
  .App-Cart{
    display: none;
  }
}