.App {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  
}

.App-header{
  position: fixed;
  z-index: 1;
  background: var(--black);
  width: 100%;
}

.App-Cart{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  color: var(--black);
  position: absolute;
  margin-top: 6.8rem;
  height: 100%;
  padding-right: 1.7rem;
}

.App-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.footer-brand-name {
  font-weight: bolder;
  font-size: 1.2rem;
  margin: 0.35rem 0;
  padding: 0;
}

.footer-brand {
  display: none;
}

.footer-logo {
  margin-top: 0.5rem;
}

.footer-logo svg {
  font-size: 0.25rem;
}

.brand-copyright{
  margin-left: 0.5rem;
}



@media (min-width: 700px){
  .App-Cart{
    display: none;
  }

  .footer-brand {
    display: flex;
    flex-flow: row nowrap;
    margin-right: 20rem;
    margin-top: 0.5rem
  }
}