@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:wght@300&family=Open+Sans&family=Oxygen:wght@700&family=Poppins:wght@300&display=swap');

:root{
  --orange: #ff9200;
  --red: #cd2f17;
  --black: #303030;
  --blue: #21759b;
  --Grey: #707070;
  --ltGrey: lightgray;
  --green: #2fcd17;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--black);
  color: white;
}

.hide {
  display: none;
}

a {
  text-decoration: none;
}

.icon {
  color: var(--orange);
}


