.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 1rem;
    /* width: 100vw; */
    margin-bottom: 0rem;
    justify-self: center;
}

.nav-buttons, .nav-brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.brand-name{
    font-weight: bolder;
    font-size: 2.5rem;
    color: white;
}

.brand-logo{
    transform-box: view-box;
    margin-top: 0.275rem;
    font-size: 2.2rem;
}

.nav-buttons li {
    list-style: none;
    margin: 0 1rem;
    font-size: 1.1rem;
}

.bikebtn-icon {
    max-width: 36.8px;
    transition: all 0.25s ease-in-out;
}

.bikebtn-icon:hover {
    max-width: 39px;
}

.buttons-btn {
    display: none;
}

.nav-dropDown-3{
    display: none;
}


@media (min-width: 700px){
    .buttons-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in-out;
    }

    .buttons-btn:hover {
        font-weight: bold;
    }

    .nav-dropDown-3{
        display: flex;
        position: absolute;
        background-color: white;
        border: 2px solid blue;
        color: var(--black);
        margin-top: 19rem;
        padding: 1rem;
        z-index: 2;
    }

    .nav-buttons, .nav-brand {
        margin: 0 4rem;
    }
}
